header{
    background-color: #ada7a6;
    background-image: url(flywheel.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 1%;
}

h1{
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-size: bold;
    color: #FFFFFF;
}

.left{
    background: #808000;
    width: 20%;
    float: left;
    padding: 0.1% 0 0 0;
}

.left img{
    border: solid 3px #000000;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 5%;
}

section{
    width: 77%;
    display: inline-block;
    margin-left: 1%;
    font-family: "Times News Roman";
    font-size: 200%;
}

h2{
    font-style: bold;
    text-transform: capitalize;
    color: #000000;
}

nav a{
    color: #000;
    background: rgba( 255, 255, 255, 0.2);
    display: inline-block;
    width: 10%;
    margin-left: 8%;
    padding: 25px 40px;
    text-align: center;
    border-radius: 5%;
    font-size: 150%;
    text-decoration: none;
}

.active{
    background: #ffffff;
}

body{
    padding: 20px;
    margin: 20px;
}

abbr{
    text-decoration: none;
}

table{
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-align: left;
}

table th{
    background-color: #88b153;
    color: #FFFFFF;
    padding: 15px;
    border-style: solid;
    border-radius: 10% 10% 0% 0%;
    border-bottom: thin solid #d9ff00;
    border-bottom-width: 5px;
}

table td{
    background-color: rgba(207, 243, 160, 1);
    color: rgba(0, 0, 0, 1);
    padding: 15px;
}

tr:not(:first-child){
    opacity: 0.8;
}

tr:not(:first-child):hover{
    opacity: 1;
}

th:not(:first-child),
td:not(:first-child){
    text-align: center;
}
