#red{
    background-color:red;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 150px;
    left: 500px;
    /* flag's body color */
}
#white-horizontal{
    background-color: white;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 560px;
}
#white-vertical{
    background-color: white;
    width: 60px;
    height: 200px;
    position: absolute;
    top: 210px;
    left: 630px;
}
