header{
    background-color: rgb(128,128,128);
}

h1{
    color:rgb(255,165,0);
    text-align: center;
}

h2{
    text-transform: uppercase;
    color:rgb(0,0,255);
  
}
section{
    background-color:#fa8072;
}
a{
    color:#f9f9f9;
    background-color:rgb(60,179,113);
}

img{
    display: none
}


